# SBT
target/
project/target/
project/project/
*.lock

# IDEs
.idea/
.vscode/

# Eclipse
.project
.classpath
.settings/

# IntelliJ IDEA
*.iml
.idea/

# Scala build artifacts
*.class
*.log
*.swp

# Operating System files
.DS_Store
Thumbs.db

# sbt-based caches
.cache/

# Metals (Scala language server)
.metals/

# BSP (Build Server Protocol)
.bsp/

# Bloop (Scala build server)
.bloop/

.envrc